button {
    font-family: 'Futura Std';
    font-size: 20px;
    padding: 11px 65px;
    color: $white;
    background-color: $button-bcg;
    border: 2px solid $button-border;
    &:hover{
        background-color: $button-border;
        transition: 0.3s;
    }
}

.login {
    float: right;
    margin-top: 50px;
    margin-right: 17px;
    @media only screen and (max-width: 989px) {
        float: none;
        margin: 50px 0;
    }
}