@font-face {
    font-family: 'Futura Std';
    src: url('../../src/fonts/FuturaStd-Condensed.woff2') format('woff2'),
        url('../../src/fonts/FuturaStd-Condensed.woff') format('woff'),
        url('../../src/fonts/FuturaStd-Condensed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Std';
    src: url('../../src/fonts/FuturaStd-CondensedBold.woff2') format('woff2'),
        url('../../src/fonts/FuturaStd-CondensedBold.woff') format('woff'),
        url('../../src/fonts/FuturaStd-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../src/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../src/fonts/OpenSans-Regular.woff') format('woff'),
        url('../../src/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../src/fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../../src/fonts/OpenSans-Italic.woff') format('woff'),
        url('../../src/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

