.advisors {
    min-height: 1300px;
    position: relative;
    @media only screen and (max-width: 1069px) {
        min-height: 900px;
    }
    .line {
        width: 674px;
        @media only screen and (max-width: 1069px) {
            width: 300px;
            top: 145px;
        }
        @media only screen and (max-width: 989px) {
            width: 210px;
            top: 100px;
        }
    }
}
.advisors-content {
    padding-top: 95px;
    @media only screen and (max-width: 989px) {
        padding-top: 60px;
    }
    h2 {
        padding-bottom: 25px;
    }
    h3{
        text-transform: uppercase;
        padding-top: 95px;
        width: 60%;
        @media only screen and (max-width: 1069px) {
            width: 50%;
            padding-top: 70px;
        }
        @media only screen and (max-width: 989px) {
            width: 90%;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    &-individuals {
        padding-top: 92px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media only screen and (max-width: 1069px) {
            padding-top: 70px;
        }
        @media only screen and (max-width: 989px) {
            padding-top: 0;
            justify-content: center;
            align-items: center;
        }
        h3 {
            width: 40%;
            text-align: right;
            @media only screen and (max-width: 989px) {
                width: 90%;
            }
        }
    }
}
.advisors-content-individuals--david,
.advisors-content-individuals--robert,
.advisors-content-individuals--michael,
.advisors-content-individuals--tom,
.advisors-content-individuals--michaelTwo {
    width: 488px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    @media only screen and (max-width: 1069px) {
        width: 400px;
        img {
            width: 130px;
            height: 130px;
        }
    }
    @media only screen and (max-width: 989px) {
        margin-bottom: 50px;
    }
    &--details {
        h5 {
            margin-left: -18px;
            margin-bottom: 17px;
        }
    }
}

ul{
    list-style: disc;
    font-family: 'Open Sans';
    color: $paragraph;
    font-size: 16px;
    line-height: 34px;
    @media only screen and (max-width: 1069px) {
        font-size: 14px;
        line-height: 20px;
    }
    
}
.advisors-content-individuals--robert ul {
    font-size: 14.8px;
    @media only screen and (max-width: 1069px) {
        font-size: 12.8px;
    }
}

.advisors-content-individuals--michael ul,
.advisors-content-individuals--tom ul {
    font-size:  12.6px;
    @media only screen and (max-width: 1069px) {
        font-size: 10.6px;
    }
}

.advisors-content-individuals--michaelTwo ul {
    font-size: 17px;
    @media only screen and (max-width: 1069px) {
        font-size: 15px;
    }
}