.banner {
    min-height: 950px;
    background-size: cover;
    @media only screen and (max-width: 989px) {
        min-height: 400px;
    }
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 318px;
        @media only screen and (max-width: 989px) {
            margin-top: 100px;
            .banner-image{
                text-align: center;
                img {
                    max-width: 80%;
                    height: auto;
                }
            }
        }
        &-contact {
            color: $white;
            font-family: 'Futura Std';
            font-size: 30px;
            line-height: 42px;
            justify-self: flex-end;
            text-align: center;
            padding-top: 240px;
            @media only screen and (max-width: 989px) {
                padding-top: 130px;
                font-size: 20px;
                line-height: 35px;
            }
        }
        
    }
}
.banner-button{
    min-height: 100px;
    @media only screen and (max-width: 989px) {
        text-align: center;
    }
}
.arrow-container {
    width: 25px;
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    height: 20px;
    margin: 40px auto;
    @media only screen and (max-width: 989px) {
        width: 20px;
        height: 15px;
        margin: 30px auto;
    }
    &-down {
        height: 6px;
        background: $white;
        transform: rotate(45deg);
        transform-origin: 0% 0%;
        border-radius: 5px;
        @media only screen and (max-width: 989px) {
            border-radius: 3px;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 100%;
            border-radius: 5px;
            background: $white;
            transform: rotate(-90deg);
            transform-origin: 0% 100%;
            @media only screen and (max-width: 989px) {
                border-radius: 3px;
            }
        }
    }
  }
  
  @keyframes bounce {
  50% {
      transform: translateY(-15px);
    }
  }


