main {
    margin: 0 auto;
    background-color: $white;
    position: relative;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    @media only screen and (max-width: 1069px){
        max-width: 900px;
        padding: 0 10px;
    }
    @media only screen and (max-width: 989px){
        max-width: 550px;
    }
}

h2, h3 {
    font-family: 'Futura Std';
    font-weight: bold;
    font-size: 50px;
    color: $heading;
    @media only screen and (max-width: 1069px) {
        font-size: 40px;
    }
    @media only screen and (max-width: 989px){
        font-size: 30px;
    }
}
h5 {
    font-family: 'Futura Std';
    color: $heading-border;
    font-size: 30px;
    @media only screen and (max-width: 989px) {
        font-size: 20px;
    }
}
.line{
    width: 694px;
    border-bottom: 4px solid $heading-border;
    position: absolute;
    top: 170px;
    @media only screen and (max-width: 1069px) {
        top: 125px;
        width: 300px;
    }
    @media only screen and (max-width: 989px) {
        top: 100px;
        width: 180px;
    }
}