footer {
    background-color: $heading-border;
    min-height: 50px;
    font-family: 'Open Sans';
    font-size: 14px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}