.investors {
    min-height: 948px;
    padding-top: 95px;
    position: relative;
    @media only screen and (max-width: 1069px) {
        min-height: 800px;
        padding-top: 70px;
        line {
            top: 100px;
        }
    }
    @media only screen and (max-width: 989px) {
        padding-top: 60px;
        .line {
            width: 220px;
        }
    }
    h2 {
        color: $white;
        padding-bottom: 25px;
    }
    h3 {
        text-transform: uppercase;
        color: $white;
        max-width: 646px;
        padding-top: 136px;
        padding-bottom: 44px;
        @media only screen and (max-width: 989px) {
            padding: 60px 0;
        }
    }
}

.investors-confirmed img,
.investors-inTalks img {
    margin: 26px 6px;
}

.investors-inTalks, .investors-confirmed {
    @media only screen and (max-width: 989px) {
        text-align: center;
        padding-bottom: 40px;
    }
}