.aboutUs {
    background-color: $white;
    min-height: 950px;
    position: relative;
    @media only screen and (max-width: 989px) {
        min-height: 400px;
    }
    &-img{
    min-height: 950px;
    max-width: 1542px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: right;
    @media only screen and (max-width: 1069px) {
        max-width: 900px;
        background-size: 480px 660px;
    }
    @media only screen and (max-width: 989px) {
        background-size: 0 0;
        min-height: 400px;
    }
    }
    .line {
        width: 576px;
        @media only screen and (max-width: 1069px) {
            width: 206px;
            top: 145px;
        }
        @media only screen and (max-width: 989px) {
            width: 150px;
            top: 70px;
        }
    }
    
}

.aboutUs-container{
    padding-top: 95px;
    @media only screen and (max-width: 989px) {
        padding-top: 30px;
    }
    h2 {
        padding-bottom: 25px;
    }
    h3 {
        text-transform: uppercase;
        margin-top: 125px;
        width: 60%;
        @media only screen and (max-width: 1069px) {
            width: 50%;
        }
        @media only screen and (max-width: 989px) {
            width: 90%;
            margin-top: 80px;
        }
    }
    p {
        font-family: 'Open Sans';
        color: $paragraph;
        font-size: 16px;
        line-height: 36px;
        width: 60%;
        margin-top: 32px;
        padding-right: 35px;
        @media only screen and (max-width: 1069px) {
            width: 50%;
            font-size: 15px;
        }
        @media only screen and (max-width: 989px) {
            width: 90%;
            line-height: 30px;
            padding-right: 0;
            margin-bottom: 50px;
        }
    }
}