.portfolio{
    min-height: 1304px;
    padding-top: 95px;
    position: relative;
    @media only screen and (max-width: 1069px) {
        .line {
            width: 300px;
            top: 145px;
        }
    }
    @media only screen and (max-width: 989px) {
        padding-top: 60px;
        min-height: 500px;
        .line {
            top: 100px;
            width: 220px;
        }
    }
    h2 {
        color: $white;
        padding-bottom: 25px;
    }
    h3{
        text-transform: uppercase;
        color: $white;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 42px;
        @media only screen and (max-width: 989px) {
            padding: 30px 0;
        }
    }
    &-container-content {
        padding-top: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media only screen and (max-width: 989px) {
            padding-top: 50px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &--elroy, &--edgy, &--planck, &--glass {
            padding: 26px 22px;
            max-width: 518px;
            @media only screen and (max-width: 1069px) {
                max-width: 50%;
            }
            @media only screen and (max-width: 989px) {
                max-width: 90%;
                text-align: center;
                margin: 20px 0;
            }
            img {
                padding-bottom: 16px;
                @media only screen and (max-width: 989px) {
                    padding-bottom: 30px;
                }
            }
            span {
                font-family: 'Open Sans';
                font-style: italic;
                color: $heading-border;
            }
            p {
                font-family: 'Open Sans';
                font-style: normal;
                color: $white;
                padding-top: 35px;
                line-height: 35px;
                @media only screen and (max-width: 1069px) {
                    font-size: 15px;
                }
                @media only screen and (max-width: 989px) {
                    padding-top: 10px;
                    line-height: 25px;
                }
            }
            button {
                margin: 22px 0;
            }
        }
    }
}